@import '../../node_modules/bulma/bulma.sass';

$base-border-color: #9090909e;
$base-shadow-color: #C8C8C8;

body,html{
    height: 100%;
}


/*.content{
    display: grid;
    grid-template-columns: [first] 75px [line2] 25px [line3] auto [col4-start] 25px [five] 50px [end];
    grid-template-rows: [row1-start] 50px [row1-end] 93vh [third-line] auto [last-line];
    font-family: "Roboto", sans-serif;
}*/

.container{
    display: flex;
}

.top-bar{
    grid-column-start: first;
    grid-column-end: end;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
}

.form-content{
    grid-column-start: line3;
    grid-column-end: col4-start;
    grid-row-start: row1-end;
    grid-row-end: third-line;
    border: 1px solid $base-border-color;
    box-shadow: 0px 2px $base-shadow-color;
    border-radius: 0.1em;
    display: flex;
    padding: 20px;
    margin-top: 20px;
}

.form-content > div:first-child{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-content > div:first-child > img{
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.form-content > div:first-child > div{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.move-enter-active, .move-leave-active {
	transform: translateX(0);
	transition: all 0.3s linear;
}

.move-enter, .move-leave-to {
	transform: translateX(100%);
}
